node_modules/
*.log
.DS_Store
*.orig

android/.gradle/
android/build/
android/app/build/
android/app/release/
android/local.properties
*.keystore
!debug.keystore

*.gguf
*.onnx

.vscode/
.idea/
*.bak
